<svg viewBox="0 0 426 426" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
	<path fill="none" class="icon-stroke" stroke-width="30" d="M 15 285 v 60 c 0 30, 25 55, 55 55 h 286 c 30 0, 55 -25, 55 -55 v -60 M 213 294 l -90 -140 h 45 v -128 h 90 v 128 h 45 Z"/>
</svg>