<svg viewBox="0 0 426 426" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
	<path fill="none" class="icon-stroke" stroke-width="76" d="M 0 78 H 426 M 0 216 H 426 M 0 348 H 426"/>
</svg>