<svg viewBox="0 0 426 426" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
	<path fill="none" class="icon-stroke" stroke-width="30" d="M 33 219 h 42 v 95 c 0 37, 31 42, 57 24 M 273 79 l -90 140 h 45 v 128 h 90 v -128 h 45 Z"/>
	<circle cx="75" cy="150" r="10" class="icon-stroke" stroke-width="30">
</svg>