<svg viewBox="0 0 426 426" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
	<path fill="none" class="icon-stroke" stroke-width="30" d="M 253 79 l -90 140 h 45 v 128 h 90 v -128 h 45 Z"/>
	<circle cx="83" cy="332" r="14" class="icon-stroke" stroke-width="30"/>
	<line class="icon-stroke strike" x1="133" y1="279" x2="373" y2="279" stroke-width="30"/>
</svg>