<a target="_blank" href="https://www.youtube.com/watch?v={{ id }}"
	style="text-decoration: none; color: inherit; display: block; width: 100%;"
	class="video-descriptor"
>
	<h2 id="video-title">{{ title }}</h2>
	<h3 style="display: block; width: 100%">
		<span style="float: left">{{ channel }},&nbsp;&nbsp;&nbsp;</span>
		<span style="float: right">{{ date }}</span>
		<div style="display: block;clear: both"></div>
	</h3>
</a>