<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Get Youtube Captions</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
	@include('partials/common-style')
	@include('partials/search-style')
	<style>
		#search input {
			width: calc( 100% - 1.8em - 3px );
		}

		#search label {
			position: absolute;
			right: 100%;
			padding: 2px .9em 0 0;
		}

		.bottom-btn {
			width: fit-content;
			margin: 2.5em auto 0 auto;
			cursor: pointer;
		}
		.bottom-btn img {
			width: 45px;
			margin: 0.1em auto;
		}
		.bottom-btn div {
			text-align: center;
			visibility: hidden;
		}
		.bottom-btn:hover div { visibility: visible; }
		.bottom-btn label { cursor: pointer; }
		.bottom-btn input { display: none; }
		#go { display: none; }
		.some-input #go { display: block; }
		.some-input #upload { display: none; }
	</style>
</head>
<body>

<main>
<div id="container">
	<img src="/yt-captions.png">
	@if( error )
		<div class="error"
			@if( errorDetails )
				title="{{ errorDetails }}"
			@endif
		>{{ error }}</div>
	@endif
	<form id="search" class="middle" action="/prompt" method="GET">
		<label for="v">Video:</label>
		<input type="text" id="v" name="v" oninput="wrote(this.value)">
	</form>
	<div id="upload" class="bottom-btn">
		<label for="file-upload">
			<img src="/icons/upload.png">
		</label>
		<input id="file-upload" type="file" onchange="upload(this.files)"/>
		<div>Load file</div>
	</div>
	<div id="go" class="bottom-btn" onclick="go()">
		<label>
			<img src="/icons/video.png">
		</label>
		<div>Go</div>
	</div>
</div>
</main>

@if( error )
	<script>window.history.pushState( {}, '', '/' );</script>
@endif

<script>
	function wrote( value ) {
		if ( value ) document.getElementById( 'container' ).classList.add( 'some-input' );
		else document.getElementById( 'container' ).classList.remove( 'some-input' );
	}
	function upload( files ) {
		if ( ! files.length ) return;
		const reader = new FileReader();
		reader.onload = () => {
			const form = document.createElement( 'form' );
			form.action = '/load';
			form.method = 'POST';
			const content = document.createElement( 'input' );
			content.type = 'hidden';
			content.name = 'content';
			content.value = reader.result;
			form.appendChild( content );
			document.body.appendChild( form );
			form.submit();
		}
		reader.readAsText( files[ 0 ] );
	}
	function go() {
		document.getElementById( 'search' ).submit();
	}
</script>

</body>
</html>
