<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Get Youtube Captions</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
	@include('partials/common-style')
	@include('partials/search-style')
	<style>
		input {
			width: calc( 100% - 1.8em - 3px );
		}

		label {
			position: absolute;
			right: 100%;
			padding: 2px .9em 0 0;
		}

		#upload {
			width: fit-content;
			margin: 2.5em auto 0 auto;
			cursor: pointer;
		}
		#upload img {
			width: 45px;
			margin: 0.1em auto;
		}
		#upload div { visibility: hidden; }
		#upload:hover div { visibility: visible; }
	</style>
</head>
<body>

<main>
<div>
	<img src="/yt-captions.png">
	@if( error )
		<div class="error"
			@if( errorDetails )
				title="{{ errorDetails }}"
			@endif
		>{{ error }}</div>
	@endif
	<form class="middle" action="/prompt" method="GET">
		<label for="v">Video:</label>
		<input type="text" id="v" name="v">
	</form>
	<div id="upload">
		<img src="/icons/upload.png">
		<div>Load file</div>
	</div>
</div>
</main>

@if( error )
	<script>window.history.pushState( {}, '', '/' );</script>
@endif

</body>
</html>

{{-- //TODO Have an alternative button “GO” to the upload button, that toggles when something is in the field. --}}