<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Get Youtube Captions</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
	@include('partials/common-style')
	<style>
		body {
			height: initial;
			min-height: 100vh;
			padding-top: 100px;
		}
		#menu {
			position: fixed;
			z-index: 90;
			top: 16px;
			left: 11px;
			transition: max-height .15s;
			overflow: hidden;
		}
		.menu-item {
			cursor: pointer;
			line-height: 0;
			display: table;
		}
		.menu-item .img {
			width: 35px;
			height: 35px;
			margin: 9px;
			background-color: var(--color-bg);
		}

		main {
			margin-left: 70px;
			display: flex;
			flex-wrap: wrap;
		}
		.clear { width: 100%; }

		main .img {
			width: 100px;
			height: 100px;
			margin: 20px;
			background-color: var(--color-bg);
			border: 4px solid var(--color-bg);
		}
		main .img.rect { width: 125px; }
		main .img:hover {
			border-color: #bbb;
		}

		#svg-list { display: none; }

		.icon-stroke { stroke: var(--color-txt); }
		.icon-txt { fill: var(--color-txt); }
		.icon-color { fill: var(--color-pop); }
	</style>
</head>
<body>

<div id="svg-list">
	<!-- logo -->
	<svg viewBox="0 0 2500 1980" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path fill="#cd0000" d="M 3 590 c 0 -137, 10 -280, 26 -363 c 21 -118, 84 -186, 232 -201 c 121 -12, 299 -24, 583 -24 c 284 0, 462 12, 583 24 c 148 15, 211 83, 232 201 c 16 83, 26 226, 26 363 c 0 137, -10 280, -26 363 c -21 118, -84 186, -232 201 c -121 12, -299 24, -583 24 c -284 0, -462 -12, -583 -24 c -148 -15, -211 -83, -232 -201 c -16 -83, -26 -226, -26 -363 Z "></path>
		<path fill="#fff" d="M 676 339 L 1113 591 L 676 883 Z"></path>
		<path fill="#fff" stroke="#000" stroke-width="40" d="M 1431 694 L 2478 694 L 2478 1958 L 1431 1958 L 1431 1179 C 1431 1152, 1431 1139, 1422 1118 C 1398 1061, 1363 1011, 1300 931 C 1276 901, 1199 813, 1173 783 C 1225 818, 1267 858, 1329 885 C 1347 893, 1385 909, 1408 894 C 1422 885, 1431 867, 1431 834 Z M 1527 871 h 825 M 1527 1001 h 745 M 1527 1131 h 805 M 1527 1261 h 292 M 1527 1391 h 745 M 1527 1521 h 806 M 1527 1651 h 293 M 1527 1781 h 585"></path>
	</svg>
	<!-- logo -->
	<svg viewBox="0 0 2500 1980" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path class="icon-color" d="M 3 590 c 0 -137, 10 -280, 26 -363 c 21 -118, 84 -186, 232 -201 c 121 -12, 299 -24, 583 -24 c 284 0, 462 12, 583 24 c 148 15, 211 83, 232 201 c 16 83, 26 226, 26 363 c 0 137, -10 280, -26 363 c -21 118, -84 186, -232 201 c -121 12, -299 24, -583 24 c -284 0, -462 -12, -583 -24 c -148 -15, -211 -83, -232 -201 c -16 -83, -26 -226, -26 -363 Z "/>
		<path fill="#fff" d="M 676 339 L 1113 591 L 676 883 Z"/>
		<path fill="#fff" stroke="#000" stroke-width="40" d="M 1431 694 L 2478 694 L 2478 1958 L 1431 1958 L 1431 1179 C 1431 1152, 1431 1139, 1422 1118 C 1398 1061, 1363 1011, 1300 931 C 1276 901, 1199 813, 1173 783 C 1225 818, 1267 858, 1329 885 C 1347 893, 1385 909, 1408 894 C 1422 885, 1431 867, 1431 834 Z M 1527 871 h 825 M 1527 1001 h 745 M 1527 1131 h 805 M 1527 1261 h 292 M 1527 1391 h 745 M 1527 1521 h 806 M 1527 1651 h 293 M 1527 1781 h 585"/>
	</svg>
	<!-- burger -->
	<svg viewBox="0 0 426 426" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path fill="none" class="icon-stroke" stroke-width="76" d="
			M 0 78 H 426
			M 0 216 H 426
			M 0 348 H 426
		"/>
	</svg>
	<!-- upload -->
	<svg viewBox="0 0 426 426" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path fill="none" class="icon-stroke" stroke-width="30" d="
			M 213 38 l -90 140 h 45 v 128 h 90 v -128 h 45 Z
			M 15 285 v 60 c 0 30, 25 55, 55 55 h 286 c 30 0, 55 -25, 55 -55 v -60
		"/>
	</svg>
	<!-- download -->
	<svg viewBox="0 0 426 426" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path fill="none" class="icon-stroke" stroke-width="30" d="
			M 15 285 v 60 c 0 30, 25 55, 55 55 h 286 c 30 0, 55 -25, 55 -55 v -60
			M 213 294 l -90 -140 h 45 v -128 h 90 v 128 h 45 Z
		"/>
	</svg>
	<!-- play -->
	<svg viewBox="0 0 426 426" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path fill="none" class="icon-stroke" stroke-width="30" d="
			M 15 148
			c 0 -43, 29 -72, 72 -72
			H 339
			c 43 0, 72 29, 72 72
			V 278
			c 0 43, -29 72, -72 72
			H 87
			c -43 0, -72 -29, -72 -72
			Z
			M 165 150 L 286 213 L 165 276 Z
		"/>
	</svg>
	<!-- export -->
	<svg viewBox="0 0 426 426" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<defs>
			<clipPath id="eqjwf3245xx646ua">
				<rect x="0" y="0" width="426" height="80"/>
				<rect x="0" y="0" width="200" height="426"/>
				<rect x="0" y="266" width="426" height="426"/>
			</clipPath>
		</defs>
		<path fill="none" class="icon-stroke" stroke-width="30" d="
			M 23 102
			c 0 -57, 30 -87, 87 -87
			h 142
			c 57 0, 87 30, 87 87
			v 222
			c 0 57, -30 87, -87 87
			h -142
			c -57 0, -87 -30, -87 -87
			Z
		" clip-path="url(#eqjwf3245xx646ua)"/>
		<path fill="none" class="icon-stroke" stroke-width="30" d="
			M 393 173
			l -101 -76
			v 40
			h -103
			v 72
			h 103
			v 40
			Z
		"/>
	</svg>
	<!-- script -->
	<svg viewBox="0 0 426 426" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path fill="none" class="icon-stroke" stroke-width="30" d="
			M 179 303
			L 36 388
			L 81 303
			H 67
			c -33 0, -52 -19, -52 -52
			V 67
			c 0 -33, 19 -52, 52 -52
			H 359
			c 33 0, 52 19, 52 52
			V 251
			c 0 33, -19 52, -52 52
			Z
			M 80 87 H 346
			M 80 159 H 346
			M 80 231 H 346
		"/>
	</svg>
	<!-- ms -->
	<svg viewBox="0 0 426 426" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<defs>
			<clipPath id="c4m2xvs3nmdxddyi">
				<rect x="0" y="0" width="426" height="109"/>
				<rect x="0" y="317" width="426" height="109"/>
			</clipPath>
		</defs>
		<line class="icon-stroke strike" x1="22" y1="404" x2="404" y2="22" stroke-width="30" clip-path="url(#c4m2xvs3nmdxddyi)"/>
		<text class="icon-txt" y="287" style="font-size: 266px; font-weight: bold">ms</text>
	</svg>
	<!-- capitalize -->
	<!--
	<svg viewBox="0 0 426 426" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<defs>
			<clipPath id="sg1u8caxu8dncwls">
				<rect x="0" y="0" width="426" height="109"/>
				<rect x="0" y="317" width="426" height="109"/>
			</clipPath>
		</defs>
		<line class="icon-stroke strike" x1="22" y1="404" x2="404" y2="22" stroke-width="30" clip-path="url(#sg1u8caxu8dncwls)"/>
		<path fill="none" class="icon-stroke" stroke-width="40" d="
			M 27 236 C 24 204, 8 120, 177 173
		"/>
		<text class="icon-txt" x="230" y="300" style="font-size: 266px; font-weight: bold">A</text>
		<path fill="none" class="icon-stroke" stroke-width="40" d="
			M 0 0 l -5 -16 l 25 16 l -25 16 Z
		" transform="translate(177,173) rotate(17.41)"/>
		<circle cx="31" cy="278" r="13" class="icon-stroke" stroke-width="30">
	</svg>
	<svg viewBox="0 0 426 426" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<text class="icon-txt" x="230" y="300" style="font-size: 266px; font-weight: bold">A</text>
		<path fill="none" class="icon-stroke" stroke-width="40" d="
			M 147 240 l -5 -16 l 25 16 l -25 16 Z
		"/>
		<circle cx="31" cy="278" r="13" class="icon-stroke" stroke-width="30">
	</svg>
	<svg viewBox="0 0 426 426" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<text class="icon-txt" x="230" y="300" style="font-size: 266px; font-weight: bold">a</text>
		<circle cx="31" cy="278" r="13" class="icon-stroke" stroke-width="30">
	</svg>
	<svg viewBox="0 0 426 426" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path fill="none" class="icon-stroke" stroke-width="30" d="
			M 253 79 l -90 140 h 45 v 128 h 90 v -128 h 45 Z
		"/>
		<circle cx="83" cy="332" r="15" class="icon-stroke" stroke-width="30">
	</svg>-->
	<svg viewBox="0 0 426 426" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path fill="none" class="icon-stroke" stroke-width="30" d="
			M 253 79 l -90 140 h 45 v 128 h 90 v -128 h 45 Z
		"/>
		<circle cx="83" cy="332" r="14" class="icon-stroke" stroke-width="30"/>
		<line class="icon-stroke strike" x1="133" y1="279" x2="373" y2="279" stroke-width="30"/>
	</svg>
	<!-- i to I -->
	<svg viewBox="0 0 426 426" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path fill="none" class="icon-stroke" stroke-width="30" d="
			M 33 219 h 42 v 95 c 0 37, 31 42, 57 24
			M 273 79 l -90 140 h 45 v 128 h 90 v -128 h 45 Z
		"/>
		<circle cx="75" cy="150" r="10" class="icon-stroke" stroke-width="30">
	</svg>
</div>

<main id="display">
</main>

<div id="menu">
</div>

<script>
	( () => {
		const list = document.getElementById( 'svg-list' ).children;
		const menu = document.getElementById( 'menu' );
		const disp = document.getElementById( 'display' );
		let wasRect, isRect;
		const suffixToIds = ( el, suffix ) => {
			if ( el.id ) el.id = el.id + '-' + suffix;
			const clip = el.getAttribute( 'clip-path' );
			if ( clip && clip.startsWith( 'url(#' ) ) el.setAttribute( 'clip-path', clip.substring( 0, clip.length - 1 ) + '-' + suffix + ')' );
			for ( const subel of el.children ) suffixToIds( subel, suffix );
		}
		for ( const svg of list ) {
			const item = document.createElement( 'div' );
			item.classList.add( 'menu-item' );
			const img = document.createElement( 'div' );
			img.classList.add( 'img' );
			img.appendChild( svg.cloneNode( true ) )
			isRect = ( svg.viewBox.baseVal.width > svg.viewBox.baseVal.height );
			if ( isRect ) img.classList.add( 'rect' );
			if ( isRect !== wasRect ) {
				const nl = document.createElement( 'div' );
				nl.classList.add( 'clear' );
				disp.appendChild( nl );
				wasRect = isRect;
			}
			item.appendChild( img );
			menu.appendChild( item );
			const img_ = img.cloneNode( true );
			disp.appendChild( img_ );
			suffixToIds( img, 'x1' );
			suffixToIds( img_, 'x2' );
		}
	} )()
	document.addEventListener( 'keypress',  () => { document.body.classList.toggle( 'dark' ); } )
</script>

</body>
</html>

