<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Get Youtube Captions</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
	@include('partials/common-style')
	@include('partials/search-style')
	<style>
		.video-descriptor {
			border-top: 4px solid #dc0000;
			padding-top: .2em;
		}

		p { margin: 2em 0 .7em 0; }
		.spreader {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
		}
		input {
			width: 5em;
			margin: .5em .7em;
		}
	</style>
</head>
<body>

<main>
<div>
	<img src="yt-captions.png">
	<div>
		@!videoDescriptor( { id: id, title: title, channel: channel, date: date } )
		<p>Available captions:&nbsp;&nbsp;&nbsp;</p>
		{{-- //TODO  No captions exception --}}
		<div class="spreader">
			@each( ( url, lang ) in captions )
				<form action="/{{ id }}/{{ ( lang === 'auto' ) ? '0' : lang }}" method="POST">
					<input type="hidden" id="id" name="id" value="{{ id }}" >
					<input type="hidden" id="url" name="url" value="{{ url }}" >
					<input type="hidden" id="title" name="title" value="{{ title }}" >
					<input type="hidden" id="channel" name="channel" value="{{ channel }}" >
					<input type="hidden" id="date" name="date" value="{{ date }}" >
					<input type="hidden" id="captions" name="captions" value="{{ Object.keys( captions ).map( ( k ) => k + '@' + captions[ k ] ).join( '|' ); }}" >
					<input type="hidden" id="captionsurl" name="captionsurl" value="{{ url }}" > {{-- //TODO remove }}
					{{-- //TODO
					>	Since I would like to keep all data at /:id/:lang level, it is irrelevant to isolate the captions url rather than the selected lang.
					>	Building the captions list as an Object seems to be overkill and counter productive. A [string,string][] might be better.
					--}}
					<input type="submit" value="{{ lang }}">
				</form>
			@endeach
		</div>
	</div>
</div>
</main>

</body>
</html>
