<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Get Youtube Captions</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
	@include('partials/common-style')
	@include('partials/search-style')
	<style>
		.video-descriptor {
			border-top: 4px solid var(--color-pop);
			padding-top: .2em;
			margin-bottom: 2.5em;
		}

		p { margin: .7em 0; }
		.spreader {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
		}
		input {
			min-width: 5em;
			margin: .5em .7em;
			background-color: #f5f5f5;
			cursor: pointer;
		}
		.main input {
			border: 2px solid;
    		font-weight: bold;
		}
	</style>
</head>
<body>

<main>
<div>
	@!svgLogo()
	<div>
		@!videoDescriptor( { id, title, author, date } )
		@if( error )
			<div class="error">{{ error }}</div>
		@endif
		<p>Available captions:&nbsp;&nbsp;&nbsp;</p>
		@if( Object.keys( captions ).length )
			@set( 'newLine', ( 'mix' in captions ) ? Object.keys( captions )[ 2 ] : ( 'auto' in captions ) ? 'auto' : false)
			<div
				@if( newLine )
					class="spreader main"
				@else
					class="spreader"
				@endif
			>
				@each( ( url, lang ) in captions )
					<form action="/{{ id }}/{{ ( lang === 'auto' ) ? '0' : ( lang === 'mix' ) ? '00' : lang }}" method="POST">
						<input type="hidden" id="title" name="title" value="{{ title }}" >
						<input type="hidden" id="author" name="author" value="{{ author }}" >
						<input type="hidden" id="date" name="date" value="{{ date }}" >
						<input type="hidden" id="id" name="id" value="{{ id }}" >
						<input type="hidden" id="url" name="url" value="{{ url }}" >
						<input type="submit" value="{{ ( lang === 'mix' ) ? ( 'auto + ' + Object.keys( captions )[ 2 ] ) : lang }}">
					</form>
					@if( lang === newLine )
						</div><div class="spreader">
					@endif
				@endeach
			</div>
		@else
			<div class="error">No captions available.</div>
		@endif
	</div>
</div>
</main>

@if( error )
	<script>window.history.pushState( {}, '', '/{{ id }}' );</script>
@endif

</body>
</html>
