<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Get Youtube Captions</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
	@include('partials/common-style')
	@include('partials/search-style')
	<style>
		h2 { border-top: 4px solid #dc0000; }
		.date { float: right; }
		p { margin: 2em 0 .7em 0; }

		.spreader {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
		}
		input {
			width: 5em;
			margin: .5em .7em;
		}
	</style>
</head>
<body>

<main>
<div>
	<img src="yt-captions.png">
	<div>
		<h2>{{ title }}</h2>
		<h3 class="date">{{ date }}</h3>
		<h3>{{ channel }},&nbsp;</h3>
		<p>Available captions:&nbsp;&nbsp;&nbsp;</p>
		<div class="spreader">
			@each( ( url, lang ) in captions )
				<form action="/{{ id }}/{{ ( lang === 'auto' ) ? '0' : lang }}" method="POST">
					<input type="hidden" id="captionsurl" name="captionsurl" value="{{ url }}" >
					<input type="submit" value="{{ lang }}">
				</form>
			@endeach
		</div>
	</div>
</div>
</main>

</body>
</html>
