{{-- Styling shared throughout the project --}}
<style>
	html, body {
		font-family: 'Poppins', sans-serif;
		height: 100vh;
		color: #333;
		position: relative;
		font-size: 19px;
	}
	
	body:before {
		content: '';
		background: #dc0000;
		top: 0;
		left: 0;
		right: 0;
		height: 6px;
		position: absolute;
	}

	* {
		margin: 0;
		padding: 0;
	}
</style>
